<html>

<head>
    <title>Restaurant site</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">
                Upper deck
            </div>
            <input type="checkbox" id="click">
            <label class="menubutton" for="click">
                <a>
                    <i class="fa fa-bars"></i>
                </a>

            </label>
            <ul>
                <li><a href="Index.html">Home</a></li>
                <li><a href="Menu.html">food Menu</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="image1">
            <img src="media/about image/IMG-20211222-WA0033.jpg">
        </div>
        <div class="left_info">
            <p>Our lodging options include spacious and well-appointed rooms that are perfect for families, couples or
                solo travelers. Each room is equipped with modern amenities such as air conditioning, flat-screen TVs,
                comfortable beds and Wi-Fi, ensuring you have everything you need for a comfortable stay.</p>
        </div>
        <div class="image2">
            <img src="media/about image/IMG-20211222-WA0044.jpg">
        </div>
        <div class="right_info">
            <p>When it comes to dining, our rooftop restaurant is a popular choice for both guests and locals alike. We
                offer a wide variety of veg & non veg dishes that are expertly prepared by our experienced chefs, using
                only the freshest ingredients. Seafood is our speciality and one must try our Malvani & Goan dishes.
                Whether you're in the mood for traditional Indian cuisine or international flavors, our restaurant has
                something for everyone.
            </p>
        </div>
    </div>
    <div class="banner2">
        <div class="image3">
            <img
                src="media/about image/WhatsApp-Image-2022-08-06-at-2.55.20-PM-2-e1680111772508-q48ley8wmyqc2pf7b4c1ir5tleyb4ws24rhaj0iq8i.jpeg">
        </div>
        <div class="left_info2">
            <p>
                In addition to our restaurant, we also have a fully-stocked bar that serves an array of alcoholic and
                non-alcoholic beverages. Our friendly bartenders are always happy to recommend a drink or whip up a
                custom cocktail to suit your taste.
            </p>
        </div>
        <div class="image4">
            <img src="media/about image/1.png">
        </div>
        <div class="right_info2">
            <p>
                At Hotel Upper Deck, we pride ourselves on our exceptional customer service. Our staff is always
                available to assist with any questions or concerns you may have, ensuring you have a stress-free and
                enjoyable stay. ​Thank you for considering Hotel Upper Deck for your next visit to Kankavli. We look
                forward to welcoming you and making your stay with us a memorable one.​
            </p>
        </div>
    </div>
    <div class="banner3">

    </div>
    <footer class="footer">
        <div class="footer_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">food Menu</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="address">
            <p><b>Address:</b> <br>3rd & 4th Floor, Om Sai Commercial Files,<br> Opp. State Bank, NH66 Main Chowk,<br>
                Kankavli,
                Maharashtra 416602</p>
            <p><b>Contact Number: +91 85509 07020</b></p>
        </div>
        <div class="social">
            <h3>Social Media</h3>
            <label class="social_button">
                <br>
                <a href="https://www.instagram.com/theupperdeckresto/">
                    <img src="media/social media logo/instagram.png">
                </a>
                <a href="https://www.facebook.com/theupperdeckresto">
                    <img src="media/social media logo/facebook.png">
            </label>
        </div>

    </footer>
    <div class="name">
        <p>website designed by Jayesh</p>
    </div>
</body>

</html>