<html>

<head>
    <title>Restaurant site</title>
    <link rel="stylesheet" href="/static/css/contact_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">
                Upper deck
            </div>
            <input type="checkbox" id="click">
            <label class="menubutton" for="click">
                <a>
                    <i class="fa fa-bars"></i>
                </a>

            </label>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">food Menu</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>LET'S GET CONNECTED</h1>
            <div class="main_info">
                <p><b>Address:</b> <br>3rd & 4th Floor, Om Sai Commercial Files, Opp. State Bank, NH66 Main Chowk,
                    Kankavli,
                    Maharashtra 416602</p>
                <p><b>Contact Number: +91 85509 07020</b></p>
                <label class="mapbutton">
                    <a
                        href="https://www.google.com/maps/place/Upper+Deck+Restaurant,+bar+%26+Permit+Room/@16.2669317,73.7053273,846m/data=!3m2!1e3!5s0x3bc016299f8e6613:0xefa020de55135d9c!4m13!1m2!2m1!1supperdeck+kankalvi+!3m9!1s0x3bc0174089feb5ef:0xc3f495b948b4cb4e!5m2!4m1!1i2!8m2!3d16.2669266!4d73.7079022!15sChN1cHBlciBkZWNrIGthbmthdmxpWhUiE3VwcGVyIGRlY2sga2Fua2F2bGmSAQpyZXN0YXVyYW504AEA!16s%2Fg%2F11rkl6d0j4?entry=ttu">
                        <i class="fa fa-map" style="color:#fff">Google Map</i>
                    </a>

                </label>

                <label class="social_button">
                    <br>
                    <a href="https://www.instagram.com/theupperdeckresto/">
                        <img src="hotel image/social media logo/instagram.png">
                    </a>
                    <a href="https://www.facebook.com/theupperdeckresto">
                        <img src="hotel image/social media logo/facebook.png">
                </label>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="footer_menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">food Menu</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="address">
            <p><b>Address:</b> <br>3rd & 4th Floor, Om Sai Commercial Files,<br> Opp. State Bank, NH66 Main Chowk,<br>
                Kankavli,
                Maharashtra 416602</p>
            <p><b>Contact Number: +91 85509 07020</b></p>
        </div>
        <div class="social">
            <h3>Social Media</h3>
            <label class="social_button">
                <br>
                <a href="https://www.instagram.com/theupperdeckresto/">
                    <img src="hotel image/social media logo/instagram.png">
                </a>
                <a href="https://www.facebook.com/theupperdeckresto">
                    <img src="hotel image/social media logo/facebook.png">
            </label>
        </div>

    </footer>
    <div class="name">
        <p>website designed by Jayesh</p>
    </div>
</body>

</html>