<html>

<head>
    <title>Restaurant site</title>
    <link rel="stylesheet" href="/static/css/menu_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="banner">
        <div class="navbar">
            <div class="logo">
                Upper deck
            </div>
            <input type="checkbox" id="click">
            <label class="menubutton" for="click">
                <a>
                    <i class="fa fa-bars"></i>
                </a>

            </label>
            <ul>
                <li><a href="/aboutIndex">Home</a></li>
                <li><a href="/aboutMenu">Food Menu</a></li>
                <li><a href="/aboutUs">About</a></li>
                <li><a href="/aboutContact">Contact</a></li>
            </ul>
        </div>
        <div class="menu_img">
            <img src="/static/img/media/menu/1.png">
            <img src="/static/img/media/menu/2.png">
            <img src="/static/img/media/menu/3.png">
            <img src="/static/img/media/menu/4.png">
            <img src="/static/img/media/menu/5.png">
            <img src="/static/img/media/menu/6.png">
            <img src="/static/img/media/menu/7.png">
            <img src="/static/img/media/menu/8.png">
            <img src="/static/img/media/menu/9.png">
            <img src="/static/img/media/menu/10.png">
            <img src="/static/img/media/menu/11.png">
            <img src="/static/img/media/menu/12.png">
        </div>
    </div>
    <div class="banner2">

    </div>
    <div class="banner3">

    </div>
    <div class="banner4">

    </div>
    <div class="banner5">

    </div>
    <div class="banner6">

    </div>
    <div class="banner7">

    </div>
    <div class="banner8">

    </div>
    <div class="banner9">

    </div>
    <div class="footer">
        {% include "footer.html"%}
    </div>
    <div class="name">
        <p>website designed by Jayesh</p>
    </div>
    
    
</body>

</html>